<launch>

	<node pkg="stage_ros" name="stageros" type="stageros" args="$(find beginner_tutorials)/world/worldfile.world" output="screen"/>
		
	<arg name="id"/>

	<node pkg="beginner_tutorials" name="rotate1"  args="0" type="projecttask1.py"/>
	<node pkg="beginner_tutorials" name="rotate2"  args="1" type="projecttask1.py"/>
	
	


</launch>
