<launch>
	<node pkg="stage_ros" name="stageros" type="stageros" args="$(find beginner_tutorials)/world/worldfile.world" output="screen"/>

	<rosparam file="$(find beginner_tutorials)/config/goals.yaml" command="load"/> 

	<node pkg="beginner_tutorials" name="rotate1"  args="0" type="projecttask2.py"/>
	<node pkg="beginner_tutorials" name="rotate2"  args="1" type="projecttask2.py"/>
</launch>
